@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
header{
    background: #4C8CA8;
}
h2{
    background: #4C8CA8; 
}
body{
    line-height: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
*,*:hover,*:focus{
    text-decoration: none;
}

h1,h2{
    margin-top: 10px;
    line-height: 50px;
}

/*Contenido y formulario*/
.myform-bottom{
    border:2px solid rgb(175, 175, 175);
}

.mycontent{
    padding: 100px 0 170px 0;
}

.mycontent .mydescription{
    margin: 20px 0 10px 0;
}

.mycontent .mydescription{
    opacity: 0.8;
}
.myform-bottom .mybtn{
    margin: 10px;
    padding: 10;
    background-color: rgb(117, 158, 21);
    border-radius: 20px;
    width: 120px;
    height: auto;
}

.form-group{
    display: block;
    align-content: center;
    width: 250px;
    height: 80px;
    margin: 0px auto;
    line-height: 15px;
    text-align: center;
    justify-content: center;
}

#mybtn{
    background-color: aquamarine;
}

#table{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 30% 30% 30%;
    align-content: flex-start;
}
.img-gastos{
    margin: 0 ;
    width: 50px;
    height: 50px;
    
}
